.metadata
*~
*.aux
*.bbl
*.blg
*.dot
*.flt
*.gz
*.log
*.nav
*.out
*.pdf
*.snm
*.swp
*.tdo
*.toc
*.vtc
*.zip
*.spl
*#
/out/
/tmp/
*.fls
*.lof
*.fdb_latexmk
/out/
/out/
/out/
/out/
/out/
/out/
/out/
/out/
/out/
/out/
/out/
/out/
/out/
/out/
/out/
/out/
/out/
/out/
/out/
