.metadata
*~
*.aux
*.bbl
*.blg
*.dot
*.flt
*.gz
*.log
*.nav
*.out
*.pdf
*.snm
*.swp
*.tdo
*.toc
*.vtc
*.zip
*.spl
*#
/out/
/tmp/
*.fls
*.lof
*.fdb_latexmk
!src/lipics-logo-bw.pdf
!src/cc-by.pdf
.dropbox
